
<div class="page-header">
  <h1>All Reminders</h1>
</div>

<%= link_to 'New Reminder', new_reminder_path, class: 'btn btn-primary' %>
<br />
<br />
<% @reminders.each do |reminder| %>
<div class="reminder">
  <strong> <%= reminder.title %></strong>
  <p><%= reminder.info %></p>
  <p><%= reminder.date %></p>
  <span class="admin">
    <%= link_to "Show More", reminder %> |
    <%= link_to "Edit", edit_reminder_path(reminder) %> |
    <%= link_to "Delete", reminder, method: :delete, data: { confirm: "Are you sure you want to delete this reminder"} %>
  </span>
</div>
<% end %>
<br>
