<p id="notice"><%= notice %></p>

<p>
	<b>User Name:</b>
	<%= @reminder.user.full_name %>
</p>

<p>
  <b>Title:</b>
  <%= @reminder.title %>
</p>

<p>
  <b>Info:</b>
  <%= @reminder.info %>
</p>

<p>
  <b>Date:</b>
  <%= @reminder.date %>
</p>


<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
